.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../../images/white-clouds-web-banner.jpg');
    align-items: center;
    padding: 10px;
  }
  
  .div_barra {
    margin-left: auto;
    margin-right: auto;
    
  }

  .Formlink,
  .Homelink {
    margin-right: 40px;
    background:none;
    color: rgb(0, 0, 0);
    
  }
  
  
  .Search {
    margin-left: auto;
    margin-right: auto;
  }
  
  