.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    margin-left: 0px;
    margin-left: 0px;
    margin-top: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  }
  
  .pagination li {
    display: inline;
  }
  
  .pagination li a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  .filters{
    margin-top: 70px;
    margin-left: 40px;
    align-items: center;
  }

  .filters ul {
    margin-top: auto;
    display: inline;
  }

.allview{
  display:contents;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.selected{
  background-color: blue;
  align-items: center;
  display: contents;
}