.container {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
  }
  
  
  label {
    color: #fff;    
  }
  
  input{
    width: auto;
    height: fit-content;
  }
  select {
    padding: auto;
    height: fit-content;
  }
  
.form {
    margin-top: 5%;
    padding: 10px;
    justify-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    width: fit-content;
    height: fit-content;
    min-width: 500px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 900px;
    background-image: url('../../images/fondomadera2.avif');
    background-size:contain;
    border: solid black 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(3,3, 3, 2);
  }

.form span {
    color: rgb(210, 241, 94);
}

.form h1 {
  height: fit-content;
  position: relative;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: bold;
  
  
}
.form h2 {
  position:relative;
  height: fit-content;
  color: white;
  margin-bottom: 50px;
}

.divform{
  position: relative;
  margin-left: 10px;
  background-color: rgba(0,0,0,0.19);  
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
 
}

.form p{
  display: contents;
  padding: 5px;
  margin-left: 10px;
  position: relative;
  color: rgb(255, 255, 255);
  border: solid white 2px;
  width: fit-content;
  height: fit-content;

}



.contenform{
  display: contents;
  justify-content: center;  
}

.divbutton {
  display: flex;
  margin-top: 5px;
  color: #fff;
  background-color: none;
  border: none;  
  width: fit-content; 
  height: 30px;
  padding-bottom: 20px;
  
}

.divbutton button{
  font-size: 15px;
  cursor: pointer;
  justify-content: center;
  border: solid black 2px;
  border-radius: 20px;

}

.divbutton button:hover {
  background-color: #3520aa;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}