.container {
    align-items: center;
    display: flex;
  }
  
  h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  
  label {
    margin-bottom: 10px;
    color: #fff;
  }
  
  input,
  select {
    margin-bottom: auto;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
.form {
    margin: auto;
    margin-top: 10%;
    padding: auto;
    align-items: center;
    display:flexbox;
    width: fit-content;
    height: fit-content;
    background-color: darkblue;
  }

  .divbutton{
    margin-top: 50px;
  }

  .form span {
    color: red;
}

.form h2{
  color: white;
}

.form p{
  width: fit-content;
  height: fit-content;
  color: red;
  font-style: normal;
  border: 5px solid red;

}
.form div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: auto;
}

.contenform{
  background-color: darkblue;
  display: contents;
  
}