.input{
    border-color: aqua;
    background-color: white;
    color: black;
}

.button{
    color: white;
    border-radius: 25px;
    border-color: rgb(85, 183, 196);
    background-color: rgb(16, 13, 173);
    cursor: pointer;
}