.flag{
    position:static;
    margin: 10px;
    align-items: center;
    
}

.card{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(1, 5, 2);
}

.country{
    color: white;
    border-color: rgb(105, 46, 214);
    width: -4rem;
    position: static;
    margin: auto;
    min-width: 14rem;
    max-width: fit-content;
    justify-items: center;
}

.select{
    margin-bottom: 0;
    justify-content: center;
    position: absolute;
}