.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    object-position: right;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    margin: 1rem;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);    
    grid-column-gap: .5rem;
    grid-row-gap: 2rem;
    justify-items: center;
    background: none;
    border: 1px solid rgba(148, 145, 145, 0.116);
}
